* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../img/back.png');
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  display: unset;
  display: flex;
  justify-content: center;
  height: 2.9vw;
}
img {
  margin: 50px;
  height: 2.2vw;
  opacity: 0.5;
}

